.y1911 land.no,.y1912 land.no,.y1913 land.no,.y1914 land.no,.y1915 land.no,.y1916 land.no,.y1917 land.no,.y1918 land.no {
    fill: green;
}

.y1951 land.fi {
    fill: blue;
}

.y1970 land.dk {
    fill: #FFFFFF;
}

.y1913 land.se,.y1914 land.se,.y1915 land.se {
    fill: red;
}
